@model CursosModel
@{
    ViewData["Title"] = "Confirmação de apagar curso";
}
<div class="text-center">
    <h1>Realmente deseja apagar o curso (@Model.Titulo)</h1>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-primary" role="button" asp-controller="Cursos" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Cursos" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
</div>