@model CursosModel
@{
    ViewData["Title"] = "Adicionar curso";
}

<div class="text-center">
    <h1>Adicionar curso</h1>
</div>

<form asp-controller="Cursos" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" asp-for="Titulo" class="form-control" placeholder="Digite o título do curso">
        @Html.ValidationMessageFor(x => x.Titulo)
    </div>

    <div class="mb-3">
        <label for="site" class="form-label">Site</label>
        <input type="text" asp-for="Site" class="form-control" placeholder="Digite o site do curso">
        @Html.ValidationMessageFor(x => x.Site)
    </div>

    <div class="mb-3">
        <label for="duracao" class="form-label">Duração</label>
        <input type="text" asp-for="Duracao" class="form-control" placeholder="Digite a duração do curso">
        @Html.ValidationMessageFor(x => x.Duracao)
    </div>

    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" asp-for="Link" class="form-control" placeholder="Coloque o link do curso">
        @Html.ValidationMessageFor(x => x.Link)
    </div>

    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição do Curso</label>
        <textarea asp-for="Descricao" placeholder="Descrição do curso" class="form-control" rows="5"></textarea>
        
    </div>


    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cursos" asp-action="Index">Voltar</a>
    </div>

</form>